# App
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=secret
DB_DATABASE=trako_db

# JWT - User (store staff)
JWT_USER_SECRET=change_me_user_secret_min_32chars
JWT_USER_EXPIRES_IN=15m
JWT_USER_REFRESH_SECRET=change_me_user_refresh_secret_min_32chars
JWT_USER_REFRESH_EXPIRES_IN=7d

# Bcrypt
BCRYPT_SALT_ROUNDS=12

# Firebase Admin SDK
FIREBASE_PROJECT_ID=trako-19dee
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxx@your-project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----\n"
